<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Correo</title>

    <style>
      .codigo {
        font-size: 24px;
        font-weight: bold;
        color: #2c3e50;
      }
    </style>
  </head>
  <body>
    <h1>Hola, {{Usuario}}</h1>
    <p>Has solicitado un acceso a tu cuenta.</p>
    <p>Tu código de verificación es: <span class="codigo">{{Codigo}}</span></p>
    <p>Este código expira en 5 minutos.</p>
  </body>
</html>
